<table class="table table-striped mt-4">
    <thead>
      <tr>
        <th>Date</th>
        <th>Heure de début</th>
        <th>Prix</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let seance of seances">
        <td>{{dateSeance(seance.debut)}}</td>
        <td>{{heureDebutSeance(seance.debut)}}</td>
        <td>{{seance.prix | currency:'EUR':'symbol':undefined:'fr-FR'}}</td>
        <td><button class="btn btn-primary" (click)="ajouterPanier(seance)"> Reserver </button></td>
      </tr>
    </tbody>
</table>
